In [1]:
import pandas as pd
import csv
from tabulate import tabulate

In [2]:
data_dir = "data/"
tweets_df = pd.read_csv(data_dir + "stockerbot-export.csv", on_bad_lines="skip", encoding = "UTF-8")
tickers_df = pd.read_csv(data_dir + "stocks_cleaned.csv")
with open(data_dir + 'labmt.0026752.s001.txt', 'r') as f:
    labMT = csv.reader(f, delimiter='\t')
    next(labMT)
    next(labMT)
    next(labMT)
    word_happiness = {}
    for row in labMT:
        word = row[0]
        happiness_average = (row[2])
        word_happiness[word] = happiness_average
        
Word_happ = pd.df = pd.DataFrame([word_happiness])
Word_happ

,word,laughter,happiness,love,happy,laughed,laugh,laughing,excellent,laughs,...,died,kill,killed,cancer,death,murder,terrorism,rape,suicide,terrorist
0,5.56,8.50,8.44,8.42,8.30,8.26,8.22,8.20,8.18,8.18,...,1.56,1.56,1.56,1.54,1.54,1.48,1.48,1.44,1.30,1.30

In [3]:
Word_happ = Word_happ.set_index('word').T
Word_happ

word       5.56
laughter   8.50
happiness  8.44
love       8.42
happy      8.30
laughed    8.26
...         ...
murder     1.48
terrorism  1.48
rape       1.44
suicide    1.30
terrorist  1.30

[10221 rows x 1 columns]

In [4]:
# Create a new dict to store average happiness

tweet_scores = {}
tweet = []

# Convert non-string tweet values to NaN
tweets_df['text'] = tweets_df['text'].apply(lambda x: x if isinstance(x, str) else pd.NA)
tweets_df['text'] = tweets_df['text'].replace('[^a-zA-Z ]', '', regex=True)



tweets_df['text'] = tweets_df['text'].str.lower().str.split().fillna('NA')
Word_happ.index = Word_happ.index.str.lower()


print(tweets_df['text'])
print(Word_happ)

0        [video, i, was, in, my, office, i, was, mindin...
1        [the, price, of, lumber, lbf, is, down, since,...
2        [who, says, the, american, dream, is, dead, ht...
3        [barry, silbert, is, extremely, optimistic, on...
4        [how, satellites, avoid, attacks, and, space, ...
                               ...
28259                                   [fb, acfdafcbaecf]
28260          [btc, httpstcotrikydft, httpstconzjqtjgndz]
28261    [rt, investinhd, nuff, said, tel, telcoin, tel...
28262             [btc, httpstcooamanolx, httpstcoezdkctl]
28263    [stellar, xlm, price, binance, registration, i...
Name: text, Length: 28264, dtype: object
word       5.56
laughter   8.50
happiness  8.44
love       8.42
happy      8.30
laughed    8.26
...         ...
murder     1.48
terrorism  1.48
rape       1.44
suicide    1.30
terrorist  1.30

[10221 rows x 1 columns]

In [5]:
def calculate_tweet_happiness(tweet):
    tweet = Word_happ.index.str.extract(f'({"|".join(tweet)})')
    total_score = 0
    num_words = 0
    for word in tweet:
        if ((word != 0) and (word != 'NaN')):
            total_score += float(Word_happ[word])
            num_words += 1
    if(total_score != 0):
        print('looking good')
    return total_score / max(num_words, 1)

tweets_df['average_happiness'] = tweets_df['text'].apply(calculate_tweet_happiness)



print(tweets_df)

                        id                                               text  \
0      1019696670777503700  [video, i, was, in, my, office, i, was, mindin...
1      1019709091038548000  [the, price, of, lumber, lbf, is, down, since,...
2      1019711413798035500  [who, says, the, american, dream, is, dead, ht...
3      1019716662587740200  [barry, silbert, is, extremely, optimistic, on...
4      1019718460287389700  [how, satellites, avoid, attacks, and, space, ...
...                    ...                                                ...
28259  1019730088617635800                                 [fb, acfdafcbaecf]
28260  1019730115524288500        [btc, httpstcotrikydft, httpstconzjqtjgndz]
28261  1019730115805184000  [rt, investinhd, nuff, said, tel, telcoin, tel...
28262  1019730117252341800           [btc, httpstcooamanolx, httpstcoezdkctl]
28263  1019730146180419600  [stellar, xlm, price, binance, registration, i...

                            timestamp           source symbols  \
0      Wed Jul 18 21:33:26 +0000 2018     GoldmanSachs      GS
1      Wed Jul 18 22:22:47 +0000 2018       StockTwits       M
2      Wed Jul 18 22:32:01 +0000 2018        TheStreet     AIG
3      Wed Jul 18 22:52:52 +0000 2018      MarketWatch     BTC
4      Wed Jul 18 23:00:01 +0000 2018           Forbes    ORCL
...                               ...              ...     ...
28259  Wed Jul 18 23:46:13 +0000 2018       test5f1798      FB
28260  Wed Jul 18 23:46:19 +0000 2018  keizai_toushi17     BTC
28261  Wed Jul 18 23:46:19 +0000 2018            iad81     BTC
28262  Wed Jul 18 23:46:20 +0000 2018  O8viWMyrCV6cBOZ     BTC
28263  Wed Jul 18 23:46:27 +0000 2018     Descendent92     AMP

              company_names  \
0         The Goldman Sachs
1                    Macy's
2                  American
3                   Bitcoin
4                    Oracle
...                     ...
28259              Facebook
28260               Bitcoin
28261               Bitcoin
28262               Bitcoin
28263  Ameriprise Financial

                                                     url  verified  \
0      https://twitter.com/i/web/status/1019696670777...      True
1      https://twitter.com/i/web/status/1019709091038...      True
2                                https://buff.ly/2L3kmc4      True
3      https://twitter.com/i/web/status/1019716662587...      True
4                         http://on.forbes.com/6013DqDDU      True
...                                                  ...       ...
28259                                                NaN     False
28260             http://keizai-toushi-navi.com/?p=26838     False
28261  https://twitter.com/CRYPTOVERLOAD/status/10178...     False
28262         http://true.velvet.jp/monexx/archives/2357     False
28263  https://twitter.com/i/web/status/1019730146180...     False

       average_happiness
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
...                  ...
28259                0.0
28260                0.0
28261                0.0
28262                0.0
28263                0.0

[28264 rows x 9 columns]

In [6]:
print(tweets_df)

                        id                                               text  \
0      1019696670777503700  [video, i, was, in, my, office, i, was, mindin...
1      1019709091038548000  [the, price, of, lumber, lbf, is, down, since,...
2      1019711413798035500  [who, says, the, american, dream, is, dead, ht...
3      1019716662587740200  [barry, silbert, is, extremely, optimistic, on...
4      1019718460287389700  [how, satellites, avoid, attacks, and, space, ...
...                    ...                                                ...
28259  1019730088617635800                                 [fb, acfdafcbaecf]
28260  1019730115524288500        [btc, httpstcotrikydft, httpstconzjqtjgndz]
28261  1019730115805184000  [rt, investinhd, nuff, said, tel, telcoin, tel...
28262  1019730117252341800           [btc, httpstcooamanolx, httpstcoezdkctl]
28263  1019730146180419600  [stellar, xlm, price, binance, registration, i...

                            timestamp           source symbols  \
0      Wed Jul 18 21:33:26 +0000 2018     GoldmanSachs      GS
1      Wed Jul 18 22:22:47 +0000 2018       StockTwits       M
2      Wed Jul 18 22:32:01 +0000 2018        TheStreet     AIG
3      Wed Jul 18 22:52:52 +0000 2018      MarketWatch     BTC
4      Wed Jul 18 23:00:01 +0000 2018           Forbes    ORCL
...                               ...              ...     ...
28259  Wed Jul 18 23:46:13 +0000 2018       test5f1798      FB
28260  Wed Jul 18 23:46:19 +0000 2018  keizai_toushi17     BTC
28261  Wed Jul 18 23:46:19 +0000 2018            iad81     BTC
28262  Wed Jul 18 23:46:20 +0000 2018  O8viWMyrCV6cBOZ     BTC
28263  Wed Jul 18 23:46:27 +0000 2018     Descendent92     AMP

              company_names  \
0         The Goldman Sachs
1                    Macy's
2                  American
3                   Bitcoin
4                    Oracle
...                     ...
28259              Facebook
28260               Bitcoin
28261               Bitcoin
28262               Bitcoin
28263  Ameriprise Financial

                                                     url  verified  \
0      https://twitter.com/i/web/status/1019696670777...      True
1      https://twitter.com/i/web/status/1019709091038...      True
2                                https://buff.ly/2L3kmc4      True
3      https://twitter.com/i/web/status/1019716662587...      True
4                         http://on.forbes.com/6013DqDDU      True
...                                                  ...       ...
28259                                                NaN     False
28260             http://keizai-toushi-navi.com/?p=26838     False
28261  https://twitter.com/CRYPTOVERLOAD/status/10178...     False
28262         http://true.velvet.jp/monexx/archives/2357     False
28263  https://twitter.com/i/web/status/1019730146180...     False

       average_happiness
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
...                  ...
28259                0.0
28260                0.0
28261                0.0
28262                0.0
28263                0.0

[28264 rows x 9 columns]